.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
}

/* Heading */

.portfolio span:nth-child(1) {
    font-size: 2rem;
    font-weight: bold;
}

.portfolio span:nth-child(2) {
    color: var(--darkblue);
    font-size: 2.5rem;
    font-weight: bold;
}


/* Slider */

.portfolio .swiper {
    overflow: visible;
}

.portfolioSlider {
    margin-top: 3rem;
    width: 100%;
}

.portfolioSlider .swiper-slide {
    width: 20rem;
}

.portfolio img {
    width: 22rem;
    filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
    border-radius: 12px;
}
